# -----------------------------
# Spotify (OAuth)
# -----------------------------
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
SPOTIFY_REFRESH_TOKEN=

# -----------------------------
# AWS (Learner Lab / S3)
# -----------------------------
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1
S3_BUCKET_NAME=csds-417-<netid>-spotify

# -----------------------------
# Postgres
# -----------------------------
DB_HOST=
DB_PORT=
DB_NAME=spotify_recsys
DB_USER=
DB_PASSWORD=
